.alert {
    transition: all .6s ease-out;
    overflow: hidden;
    min-height: all .1000px;
}

.alert_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0;
}


.alert_text {
    width: 95%;
    text-align: center;
}

.alert_text > p > span{ 
    width: 2px; 
    height: 16px; 
    display: inline-block; 
    background: gray; 
    margin: 0 7px; 
}

.alert_close {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    opacity: 0.36;
    transition: all .1s linear;
}

.alert_close:hover {
    opacity: 0.6;
}

.alert_line {
    width: 100%;
    height: 1px;
    animation: lineAnimation 10s ease infinite;
}



